*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d1d1d;
}
header{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}
header .logo{
    width: 15%;
    height: 100%;
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 10px;
}
header .menu{
    width: 15%;
    height: 100%;
    display: flex;
}
header .menu .menu-item{
    width: 33%;
    height: 100%;
    border-left: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .menu-item i{
    color: #999;
    font-size: 20px;
}
main{
    width: 100%;
    margin-top: 15px;
    
}
main .big{
    width: 80%;
   display: flex;
   flex-direction: column;
   gap: 10px;
    margin: auto;
}
main .big .container{
    width: 100%;
    display: flex;
    gap: 10px;
}
main .big .container .child{
    width: 24.5%;
    height: 200px;
    background-color: #666;
    border-radius: 5px;
    position: relative;
}
main .big .container .child .card-img{
    width: 100%;
    height: 100%;
}
main .big .container .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .big .container .card-text{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255,255, 0.8);
}
main .big .btn{
    width: 100%;
    height: 30px;
    background-color: #666;
    border-radius: 5px;
}
main .big .banner{
    width: 80%;
    height: 200px;
    background-color: #666;
    margin: auto;
}
main .big .big-container{
    width: 100%;
}
main .big .big-container h2{
    color: #999;
}
main .big .big-container .container .child-2{
    width: 16.5%;
    height: 277px;
    background-color: #666;
    position: relative;
}
main .big .big-container .container .child-2 .card-img{
    width: 100%;
    height: 100%;
}
main .big .big-container .container .child-2 .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
main .big .big-container .container .child-2 .card-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255, 255, 0.5);
    display: none;
}
main .big .big-container .container .child-2:hover .card-text{
    display: block;
}