@import '_color';
@import '_mix';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin-left:9px;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}